<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <!-- 数据库类型 Oracle|MySql|MsSql|Sybase|Access|DB2|SqlLite|InterBase -->
    <add key="IsLog" value="True" />
    <add key="DataBaseType" value="MySql"/>
    <add key="OracleConnectString" value="DATA SOURCE=HaiWen234;PERSIST SECURITY INFO=true;USER ID=HW;PASSWORD=1;"/>
    <add key="MySqlConnetString"   value="server=127.0.0.1;User Id=root;password=123456;database=IM_new;" />
    <add key="MsSqlConnetString"   value="Data Source=DEVSAM\DEVSAM;Initial Catalog=FrontDB;User ID=sa;Password=1" />
  </appSettings>
</configuration>
